extends layout 

block content 

    h1= title 

    form(method='POST')
        label(for=categoryname) Category Name: 
        input#categoryname(type='text', placeholder='Electronics, Automotive, etc', name='categoryname' required value=(undefined===category? '': category.name))
        button(type='submit') Add Category

        
        if errors 

            ul 
                for error in errors 
                    li!= error.msg