extends layout

block content
  h1= title
  h3(style="text-align:center; font-size: 2rem; font-weight: 100") Current User: Admin<br/> (Working on Authentication and Authorization)<br/> At the Moment any user can edit delete and update the inventory

  button 
    a(href="/shop/products") Products 
  button 
    a(href="/shop/categories") Categories 

